 body {
    font-family: 'Chango', cursive;
    color: #6e4238;
    font-size: 1.11em;
}

.btn {
    background-color:#f8c277;
    margin-right: 25px;
}

form{
    text-align: right;
}

.bottom {
    text-align: center;
}